.main {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    height: 100%;
}

.main>header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}