.secret {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    justify-content: space-around;
    align-items: center
}

.secret>h1 {
    font-size: 124px;
}

.secret>.secret__svg {
    width: 124px;
    display: flex;
    justify-content: center;
    align-items: center
}

.secret .my-svg {
    animation: bit;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes bit {
    0% {
        width: 124px;
        height: 124px;
    }
    15% {
        width: 100px;
        height: 100px;
    }
    35% {
        width: 124px;
        height: 124px;
    }
    65% {
        width: 124px;
        height: 124px;
    }
    85% {
        width: 88px;
        height: 88px;
    }
    100% {
        width: 124px;
        height: 124px;
    }
}

@keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
}